# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
name: Scala CI with Coveralls

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # sehr wichtig!

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Set up sbt
        uses: olafurpg/setup-scala@v14
        with:
          sbt-version: '1.11.7'

      - name: Compile & Test
        run: sbt clean compile test
        working-directory: scalaerstes

      - name: Coverage + Coveralls
        run: sbt coverage test coverageReport coveralls
        working-directory: scalaerstes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
